body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}

.name-color {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 70%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.shadow {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  box-shadow: 10px 10px 40px gray;
  border-left: 7px solid lightsalmon;
  padding: 1%;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}
.foo {
  text-align: center;
  margin-top: 7%;
}
form {
  border: 3px solid #f1f1f1;
}

 
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.space {
  margin-top: 10%;
  margin-left: 20%;
}
.resize {
  text-align: center;
}
